@using Datos;
@using Entidad;

@model List<Lote>
@{

}

@section EtiquetaHead
{

    <!-- Select2 -->

    <link href="@Url.Content("~/Content/adminLte/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/adminLte/select2/js/select2.full.min.js")"></script>
    <link href="@Url.Content("~/Content/adminLte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />


}

<select id="select_Lote" class="form-control select2" style="width: 100%;">
    @{


        foreach (var i in Model)
        {

            <option value="@i.NroLote"> @i.NroLote</option>

        }


    }
</select>


